<nav class="navbar navbar-expand navbar-light bg-white topbar mb-5 static-top shadow">
    <h1 class="h3 mb-0 text-gray-800">@Title</h1>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow mx-1">
            <NavLink href="Configure" role="button" aria-haspopup="false" aria-expanded="false" class="configureButtonTop">
                <i class="fas fa-wrench"></i>
            </NavLink>
        </li>
    </ul>
</nav>

@code {
    [Parameter]
    public string Title { get; set; }
}
