@page "/"

<TopBar Title="Tweetiment.NET" Status="Idle" />
<div class="row">
    <div class="col-12">
        <div class="col-6">
            <label for="twitterUsername">Twitter Handle:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@@</span>
                </div>
                <input id="twitterUsername" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Run Analysis</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Today so far</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">3 days</a>
                        <a class="dropdown-item" href="#">5 days</a>
                        <a class="dropdown-item" href="#">7 days</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
